body {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 76%;
	background: #fff;
}

div.topbit {
	background: #69c;
}
div.topbit h1 {
	background: #2E5C8A;
}
div.topbit p.logout {
	margin: 0;
	padding: 0 5px 0;
	float: right;
}

div.topbit ul {
	height: 25px;
	margin: 0;
	padding: 3px 5px 0 5px;
	list-style-type: none;
}
div.topbit ul li {
	margin: 0 3px 0 0;
	padding: 0 10px;
	float: left;
	background: #3D7AB8;
}
div.topbit a {
	height: 25px;
	font-weight: bold;
	color: #fff;
	line-height: 25px;
	text-decoration: none;
}
div.topbit ul li.active {
	background: #fff;
}
div.topbit ul li.active a {
	color: #3D7AB8;
}

h1 {
	margin: 0;
	padding: 10px 5px;
	color: #69c;
	font-size: 1.7em;
	font-weight: normal;
}
div.topbit h1 {
	font-size: 2em;
}

/**** content styles ****/
div.content {
	margin: 20px 10px;
}

a {
	text-decoration: none;
	color: #2E5C8A;
}

.error {
	color: #c00;
}
ul.error {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.error li {
	margin-top: 2px;
}
.note {
	color: #666;
	font-size: 0.9em;
}


/**** table styles ****/
table {
	margin: 0;
}
table th, table td {
	padding: 1px 8px;
	line-height: 1.8em;
	font-size: 0.8em;
	vertical-align: middle;
}
table input, table select, table textarea {
	font-size: 1em;
}
table th {
	color: #3D7AB8;
	font-weight: normal;
	text-align: left;
}
table td {
	background: #ECF2F8;
	border-bottom: 3px solid #fff;
}
table td.action {
	text-align: center;
	background: #C0D4E8;
	border-left: 1px solid #fff;
}
table td.active {
	background: #3D7AB8;
}
table td button {
	color: #2E5C8A;
	font-size: 1em;
	background: transparent;
	border: none;
}
div table td.active a,
	div table td.active button {
	color: #fff;
}
table tr.new td {
	background: #F2F8EC;
}
table tr.new td.action {
	background: #D9EAC8;
}
table tr.new td.active {
	background: #99CC66;
}
table tr.new a, table tr.new button {
	color: #206020;
}
table.problem tr th {
	color: #993333;
}
table.problem tr td {
	background: #F8ECEC;
}
table.problem tr td.action {
	background: #ECC7C6;
}
table.problem tr td.active {
	background: #CC6666;
}
table.problem td button {
	color: #993333;
}
table tr td.cancel {
	color: #993333;
	background: #ECC7C6;
}
table tr td.cancel a {
	color: #993333;
}
table tr td.activecancel {
	background: #D27979;
}
table tr.editable td {
	background: #F2E6D9;
}
table tr.editable td.action {
	background: #E2C8AB;
}
table tr.editable a, table tr.editable button {
	color: #604020;
}
table tr.editable td.active {
	background: #CC9966;
}
table tr.spacer th {
	line-height: 1em;
}
table td.checkbox { text-align: center; }

/**** form styles ****/
input, select { vertical-align: middle; }
input.url { width: 120px; }
input.title { width: 260px; }
input.anyliticsid { width: 180px; }
input.paypalid { width: 300px; }
input.name { width: 200px; }
input.price { width: 50px; }