<html>
	<head>
		<title>easywebAE admin</title>
	</head>
	<body>	
		<h1>Easyweb admin</h1>
		<a href="new/" id="new">New Page</a>
		<form name="site_preferences" action="savePreferences/" method="POST" >
		Anylitics Id: <input type="text" name="anylitics_id" value="{{preferences.anylitics_id}}" />
		<input type="submit" name="Save" value="Save Changes" />
		Testing ID = UA-4796991-1
		</form>
		<hr />
		<table> 
			{% for page in pages %}
			{% if forloop.first %}
			<tr>
				<td>URL</td><td>Title</td><td>Sitemap?</td><td>&nbsp;</td><td>&nbsp;</td>
			</tr>
			{% endif %}
			<tr>
				<td>{{page.url}}</td>
				<td>{{page.title}}</td>
				<td>{{page.include_in_sitemap}}</td>
				<td><a href="/admin/edit/?key={{page.key}}" id="edit_{{page.url}}">edit</a></td>
				<td><a href="{{page.url}}" id="go_{{page.url}}">go</a></td>
			</tr>
			{% endfor %}
		</table> 
		<a href="{{logout_url}}" id="logout">Logout</a>
	</body>
</html>