<html>
	<head>
		<title>easywebAE admin</title>

		{% include "head.html" %}

	</head>
	<body>	

		{% include "menu.html" %}
		
		<h1>Easyweb admin</h1>
		<a href="new/" id="new">New Page</a>
		<form name="site_preferences" action="savePreferences/" method="POST" >
		Anylitics Id: <input type="text" name="anylitics_id" value="{{preferences.anylitics_id}}" />
		<input type="submit" name="Save" value="Save Changes" />
		Testing ID = UA-4796991-1
		</form>
		<hr />
		<table> 
			{% for page in pages %}
			{% if forloop.first %}
			<tr>
				<td>URL</td><td>Title</td><td>Sitemap?</td><td>&nbsp;</td><td>&nbsp;</td>
			</tr>
			{% endif %}
			<tr>
				<td>{{page.url}}</td>
				<td>{{page.title}}</td>
				<td>{{page.include_in_sitemap}}</td>
				<td><a href="/admin/edit/?key={{page.key}}" id="edit_{{page.url}}">edit</a></td>
				<td><a href="{{page.url}}" id="go_{{page.url}}">go</a></td>
			</tr>
			{% endfor %}
		</table> 
		<h2>Products:</h2>
		<form enctype="multipart/form-data" name="new_product" action="saveProduct/" method="POST">
		New Product:
		Name: <input type="text" name="product_name" />
		Price: <input type="text" name="product_price" />
		Return URL: <input type="text" name="product_return_url" />
		File (limit 10 meg): <input type="file" id="product_file_upload"name="product_file_upload" onchange="SplitFile();"/>
		<input type="hidden" id="product_file_name"  name="product_file_name" value="" /> 
		<input type="hidden" id="product_file_ext"  name="product_file_ext" value="" /> 
		<input type="submit" />
		</form>
		{% for product in products %}
		Name: {{product.name}}
		Price: {{product.price}}
		file_name: {{product.file_name}}
		file_ext: {{product.file_ext}}
		Return URL: {{product.return_url}} <a href="{{product.return_url}}">go</a>
		File: <a href="/download/{{product.key}}/{{product.file_name}}">download</a>
		<br /> 
		{% endfor %}
		<p><a href="{{logout_url}}" id="logout">Logout</a></p>
	</body>
</html>