<html>
	<head>
		<title>easywebAE admin: The Book</title>

		{% include "head.html" %}

		<script type="text/javascript">
			function validateForm(form) {
				// make sure EVERY field is validated before we return
				var isValid = validateURL(form["product_return_cancel_url"],  "Cancel URL");
				isValid = validateURL(form["product_return_url"], "Return URL") && isValid;
				isValid = validatePrice(form["product_price"]) && isValid;
				
				return isValid;
			}
			
			function validateURL(select, fieldTitle) {
				if (select.value == "") {
					dojo.byId(select.name + "Error").innerHTML = "Please choose a " + fieldTitle;
					select.focus();
					return false;
				}
				
				// clear the error message
				dojo.byId(select.name + "Error").innerHTML = "";
				return true;
			}
			
			function validatePrice(input) {
				// if price contains only digits, we add ".00" to the end of it
				if (input.value.match(/^\d+$/)) {
					input.value += ".00";
				}
				// if it's not valid show error message
				else if (!input.value.match(/^\d+\.+\d{2}$/)) {
					dojo.byId(input.name + "Error").innerHTML =
						"The price you entered is invalid - please enter only digits and a decimal point. For example <strong>40.00</strong>";
					input.focus();
					return false;
				}
				
				// clear the error message
				dojo.byId(input.name + "Error").innerHTML = "";
				return true;
			}

		    dojo.addOnLoad(function() {
		    	var priceField = dojo.byId("product_price");
		    	if (priceField.value != "") {
		    		validatePrice(priceField);
	    		}
		    });
		</script>
	</head>
	<body>	

		{% include "menu.html" %}
		
		<div class="content">
			<h1>The Book</h1>
			
			<table cellspacing="0" cellpadding="0">
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Successful Purchase Page</th>
					<th>Failed Purchase Page</th>
					<th>File</th>
					<th>&nbsp;</th>
				</tr>
				
				{% for product in products %}
				<tr>
					<td>{{product.name}}</td>
					<td>${{product.price}}</td>
					<td><a href="{{product.return_url}}">{{product.return_url}}</a></td>
					<td><a href="{{product.return_cancel_url}}">{{product.return_cancel_url}}</a></td>
					<td>{{product.file_name}}</td>
					<td class="action"><a href=""
						onmouseover="dojo.addClass(this.parentNode, 'active')"
						onmouseout="dojo.removeClass(this.parentNode, 'active')">edit</a></td>
				</tr>
				{% endfor %}
				
			<form onsubmit="return validateForm(this)" enctype="multipart/form-data" id="new_product" name="new_product" action="saveProduct/" method="POST">
					<tr class="new">
						<td><input class="name" type="text" name="product_name" /></td>
						<td>$<input class="price" type="text" id="product_price" name="product_price" onchange="validatePrice(this)" /></td>
						<td><select id="product_return_url" name="product_return_url">
							<option value="">please select</option>
							{% for page in pages %}
							<option>{{page.url}}</option>
							{% endfor %}
							</select></td>
						<td><select id="product_return_cancel_url" name="product_return_cancel_url">
							<option value="">please select</option>
							{% for page in pages %}
							<option>{{page.url}}</option>
							{% endfor %}
							</select></td>
						<td><input type="file" id="product_file_upload"name="product_file_upload" onchange="SplitFile();"/></td>
						<td class="action"><button type="submit"
							onmouseover="dojo.addClass(this.parentNode, 'active')"
							onmouseout="dojo.removeClass(this.parentNode, 'active')">add</button></td>
					</tr>

				<input type="hidden" id="product_file_name"  name="product_file_name" value="" /> 
				<input type="hidden" id="product_file_ext"  name="product_file_ext" value="" /> 
			</form>
			</table>
				
				<ul class="error">
					<li id="product_priceError"></li>
					<li id="product_return_urlError"></li>
					<li id="product_return_cancel_urlError"></li>
				</ul>
		</div>
	</body>
</html>