<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>easywebAE admin: External Tools</title>

		{% include "head.html" %}

	</head>
	<body>	

		{% include "menu.html" %}
		
		<div class="content">
			<h1>External Tools</h1>
			
			<ul class="links">
				<li><a href="http://www.google.com/webmasters/">Google Webmaster Central</a>
					<br />You can tell Google which pages to index! Simply verify your domain ownership and submit <a href="/Sitemap.xml">your sitemap</a> (we automatically generate this for you).</li>
				<li><a href="http://www.google.com/analytics/">Google Analytics</a>
					<br />Once you've signed up, enter your Analytics ID in <a href="/admin/preferences.html">Website Preferences</a> and you'll be able to track what users do on your website!</li>
				<li><a href="http://www.google.com/websiteoptimizer/">Google Website Optimizer</a>
					<br />Create experiments to see what content has the best effect on your visitors.</li>
			</ul>
		</div>

	</body>
</html>