<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>easywebAE admin: External Tools</title>

		{% include "head.html" %}

	</head>
	<body>	

		{% include "menu.html" %}
		
		<div class="content">
			<h1>External Tools</h1>
			
			<ul class="links">
				<li><a href="http://doodad.com">http://doodad.com</a>
					<br />The site with the cool thing!</li>
				<li><a href="http://whatsit.com">http://whatsit.com</a>
					<br />Go here to get the widget.</li>
				<li><a href="http://blat.com">http://blat.com</a>
					<br />Bacon, lettuce AND tomato! Woohoo!</li>
			</ul>
		</div>

	</body>
</html>