<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>easywebAE admin: Web Pages</title>

		{% include "head.html" %}

	</head>
	<body>

		{% include "menu.html" %}

		<div class="content">
			<h1>Web Pages</h1>
			
			<table cellpadding="0" cellspacing="0"> 
				{% for page in pages %}
				{% if forloop.first %}
				<tr>
					<th>URL</th>
					<th>Title</th>
					<th class="nowrap">On Sitemap</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
				{% endif %}
				<tr>
					<td class="url">{{page.url}}</td>
					<td class="title">{{page.title}}</td>
					<td class="checkbox">{% if page.include_in_sitemap %}Yes{% else %}No{% endif %}</td>
					<td class="action" onclick='document.location="/admin/edit/?key={{page.key}}"' id="edit_{{page.url}}"
						onmouseover="dojo.addClass(this, 'active')"
						onmouseout="dojo.removeClass(this, 'active')">edit</td>
					<td class="action go" onclick='document.location="{{page.url}}"' id="go_{{page.url}}"
						onmouseover="dojo.addClass(this, 'active')"
						onmouseout="dojo.removeClass(this, 'active')">go</td>
				</tr>
				{% endfor %}
				
				<tr class="new">
					<td colspan="5" class="action" onclick='document.location="/admin/new/"'
						onmouseover="dojo.addClass(this, 'active')"
						onmouseout="dojo.removeClass(this, 'active')">add a new page</td>
				</tr>
			</table>
		</div>
	</body>
</html>