<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>easywebAE admin: Website Preferences</title>
		{% include "head.html" %}

	</head>
	<body>	

		{% include "menu.html" %}
		
		<div class="content">

			<h1>Website Preferences</h1>
		
			<form name="site_preferences" action="savePreferences/" method="POST">
				<table cellspacing="0" cellpadding="0">
					<tr>
						<td>Anylitics ID:</td>
						<td><input class="anyliticsid" type="text" name="anylitics_id" value="{{preferences.anylitics_id}}" /></td>
						<td rowspan="2" class="action"><button type="submit" name="Save"
							onmouseover="dojo.addClass(this.parentNode, 'active')"
							onmouseout="dojo.removeClass(this.parentNode, 'active')">Save Changes</button></td>
					</tr>
					<tr>
						<td>Paypal ID:</td>
						<td><input class="paypalid" type="text" name="paypal_id" value="{{preferences.paypal_id}}" /></td>

					</tr>
				</table>
			</form>
				
			<p class="note">Testing Anylitics ID = UA-4796991-1
				<br />Testing Paypal ID = hcurri_1234182723_biz@gmail.com</p>
		</div>

		
	</body>
</html>