<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>easywebAE admin: Purchases</title>

		{% include "head.html" %}

	</head>
	<body>	

		{% include "menu.html" %}
		
		<div class="content">
			<h1>Purchases</h1>
			
				<p>All purchases (including any failures) are listed below. </p>
			
				<table class="problem" cellpadding="0" cellspacing="0"> 
					{% for payment in payments %}			
					{% if forloop.first %}
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>TXN ID</th>
						<th>Item</th>
						<th>Product Id</th>
						<th>Price</th>
						<th>Verification URL</th>
						<th>Verification Result</th>
						<th>Download</th>
					</tr>
					{% endif %}
					
					<tr>
					    <td>{{payment.first_name}} {{payment.last_name}}</td>
					    <td>{{payment.payer_email}}</td>
					    <td>{{payment.txn_id}}</td>
					    <td>{{payment.item_name}}</td>
					    <td>{{payment.product_key}}</td>
					    <td>{{payment.mc_gross}}</td>
			    		<td>{{payment.verification_url}}</td>
					    <td>{{payment.verification_result}}</td>
					    <td><a href="{{domain}}/download/{{payment.key}}/myfile">download</a></td>
					</tr>
					{% endfor %}
					
				</table>
			</div>
	</body>
</html>