<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>easywebAE admin: The Book</title>

		{% include "head.html" %}
        <script type="text/javascript" src="/static/admin/js/form.js"></script>
		
		<script type="text/javascript">
            function SplitFile() {
                var file = document.getElementById("content").value;
                file = file.replace(/\\/g, "/");
                var parts = file.split("/");
                var filename = parts[parts.length - 1];

                document.getElementById("file_name").value = filename;
            }

            function checkDecimalPlace(field) {
                field.value.trim;
                // if price contains only digits, we add ".00" to the end of it
                if (field.value.match(/^\d+$/)) {
                    field.value += ".00";
                    return true;
                }
            }
        </script>
	</head>
	<body>	

		{% include "menu.html" %}
		
		<div class="content">
			<h1>Upload</h1>

            <form enctype="multipart/form-data" id="upload_file" name="upload_file" action="/admin/upload/" method="post">

                <table cellspacing="0" cellpadding="0" class="hasHTMLeditor">
                    <tr class="highlightable">
                        <th><span class="required">*</span>Prefix:</th>
                        <td><input class="name validate" type="text" name="file_path" id="file_path" value="/" /></td>
                        <td name="comment" class="placeholder">&nbsp;</td>
                        <td name="comment" class="note hidden">This is inserted into the beginnig of the URL for the uploaded file</td>
                        <td name="comment" class="error hidden">Please ensure that this value starts and ends with /</td>
                    </tr>

                    <tr class="highlightable">
                        <th><span class="required">*</span>File:</th>
                        <td><input type="file" id="content"
                                   name="content"
                                   class="file" onchange="SplitFile();"/></td>
                        <td name="comment" class="placeholder">&nbsp;</td>
                        <td name="comment" class="note hidden">Upload the file to your website</td>
                    </tr>
                    <tr class="highlightable">
                        <th><span class="required">*</span>FileName:</th>
                        <td><input class="name validate" type="text" name="file_name" id="file_name" value="" /></td>
                        <td name="comment" class="placeholder">&nbsp;</td>
                        <td name="comment" class="note hidden">Use this if you wish to change the file name</td>
                        <td name="comment" class="error hidden">FileName cannot be empty</td>
                    </tr>
                    <tr class="new">
                        <td id="save" colspan="2" name="submit" class="action"
                            onclick="submitForm(dojo.byId('upload_file'))"
                            onmouseover="dojo.addClass(this, 'active')"
                            onmouseout="dojo.removeClass(this, 'active')">Upload</td>
                        <td colspan="2" name="submit" class="cancel hidden"
                            onclick="submitForm(dojo.byId('upload_file'))">Please complete required fields to continue</td>
                        <td class="placeholder">&nbsp;</td>
                    </tr>
			    </table>
			</form>
		</div>
	</body>
</html>